.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  /* max-width: 25rem; */
  width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
}