.input-container {
  display: flex;
  flex: 1;
  max-width: 30rem;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  flex: 1;
}

.input-label {
  color: #101828;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.input-field {
  width: 100%;
  min-width: 0;
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #d0d5dd;
  background-color: #f2f4f7;
  color: #101828;
}

.input-field::placeholder {
  color: #637588;
}

.input-field:focus {
  outline: none;
  border-color: #667085;
}

.input-textarea {
  width: 100%;
  min-width: 0;
  min-height: 9rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.75rem;
  border: 1px solid #d0d5dd;
  background-color: #f2f4f7;
  color: #101828;
  resize: none;
}

.input-textarea::placeholder {
  color: #637588;
}

.input-textarea:focus {
  outline: none;
  border-color: #667085;
}
