/* Uncomment to enable TailwindCSS */

/* @import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: light;
  }

  @media (prefers-color-scheme: light) {
    color-scheme: dark;
  }
} */
 @font-face {
  font-family: "Primary Font-Medium";
  src: url(../assets/fonts/Nunito-Medium.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Primary Font-Medium";
}
