.emp-cont{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.employee-card-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
  }
}