.timesheets-table-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: auto;
}

.timesheets-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.timesheets-table th,
.timesheets-table td {
  border: 1px solid #ccc;
  padding: 0.75rem 1rem;
  text-align: left;
}

.timesheets-table th {
  background-color: #f5f5f5;
  font-weight: 700;
}

.timesheets-table tr:hover {
  background-color: #f0f8ff;
}

.timesheets-table td a:hover {
  text-decoration: underline;
}

.styled-button-toggle {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.75rem;   
  height: 2.5rem;          
  padding: 0.625rem 1rem;   
  background-color: transparent;
  border-color: #1E3A8A;
  color: #1E3A8A;
  font-size: 0.875rem;    
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.015em;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  border: 1px solid #1E3A8A;
}
